{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>
    <a href="{{ path('app_account') }}">- Retourner à mon compte -</a>
    <hr>
        {% if notification %}
            <div class="alert alert-info"> {{ notification }}</div>
        {%endif %}
    {{ form(form) }}
{% endblock %}